[Desktop Entry]
Encoding=UTF-8
Name=APEIR
Comment=APEIR P2P Cryptocurrency
Comment[fr]=APEIR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=APEIR, eşten eşe kriptografik sanal para birimi
Exec=apeiron-qt %u
Terminal=false
Type=Application
Icon=apeiron128
MimeType=x-scheme-handler/apeiron;
Categories=Office;Finance;
